@page
@model AddProductModel
@{
    ViewData["Title"] = "Adicionar Produto";
}

<div class="container mt-4">
    <h1 class="mb-4">Adicionar Produto</h1>

    <form method="post" class="border p-4 rounded bg-light bg-opacity-50">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nome do Produto</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Preço</label>
            <input asp-for="Price" type="number" step="0.01" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>


    <a asp-page="/Index" class="btn btn-link mt-3">Voltar para a listagem</a>
</div>
